@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-weight: 340;
    line-height: 1.3;
    letter-spacing: 0.10px;
}
body{
    position: relative;
    font-size: 15px;
    /* overflow-x: hidden; */
}
.header, .apropos, .categorie, .nomine, .sponsorsPartenaires, #contenu-pageCategorie{
    padding: 120px 100px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0.5px 0px 5px;
}

.navbar ul{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.navbar ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.1s ease-in-out;
    font-weight: 400;
    font-size: 16px;
    /* text-transform: uppercase; */
}
.navbar ul li a:hover{
    color: #AB8742;
    font-weight: 600;
}
.navbar .logo img{
    width: 90px;
}
.header{
    background: url("../Images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
}
.header .contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .contenu .leftSection{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 60%;
}
.header .contenu .rightSection{
    width: 40%;
}
.header .contenu .rightSection img{
    width: 100%;
}

.header .contenu .leftSection .text{
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header .contenu .leftSection .text #bienvenue{
    font-size: 35px;
    line-height: 40px;
}
.header .contenu .leftSection .text #bienvenue b{
    font-weight: 550;
}
.header .contenu .leftSection .text #bienvenue span{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.2px;
}
.header .contenu .leftSection .description{
    font-size: 18px;
    font-weight: 400;
}
.keyWord{
    /* color: #D9D9D9; */
    font-weight: 450;
    text-transform: capitalize;
}
.header .contenu .leftSection .buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
button{
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 500;
    background-color: none;
    border: none;
    cursor: pointer;
    transition: ease-in 0.2s;
}
button:hover{
    scale: 0.92;
}
.firstBtn{
    background-color: #D9D9D9;
}
.secondBtn{
    background-color: #AB8742;
    color: white;
}
.sectionTitle{
    font-family: "Pattaya", sans-serif;
    font-size: 32px;
    color: #AB8742;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.apropos h1{
    font-size: 35px;
    text-align: center;
    font-weight: 550;
    margin-bottom: 60px;
}
.apropos div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.apropos div p{
    font-size: 18px;
    width: 65%;
    line-height: 1.4;
}
.apropos div img{
    width: 30%;
}
.apropos button {
    margin-top: 10px;
    display: block;
}

.infoEvent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AB8742;
    padding: 40px 0;
    color: white;
}
.infoEvent h1{
    margin-top: 25px;
    margin-bottom: 6px;
    font-weight: 700;
    text-align: center;
    padding: 0 10px;
}
.infoEvent button{
    display: block;
    margin-top: 20px;
}
.infoEvent span{
    font-size: 20px;
}


.categorie{
    text-align: center;
}
.categorie h1{
    font-size: 35px ;
    font-weight: 550;
    margin-bottom: 20px;
}
.categorie .description{
    width: 60%;
    margin: auto;
    font-size: 16px;
}
.categorie .gridFlyerCategorie{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.categorie .gridFlyerCategorie img{
    width: 300px;
    transition: 0.2s ease-in-out;
}
.categorie .gridFlyerCategorie img:hover{
    scale: 0.92
}

.nomine{
    background: url("../Images/bgSectionNomine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 180px;
    padding-bottom: 180px;
    text-align: center;
}
.nomine .description{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 16px;
}
.nomine h1{
    font-size: 35px ;
    font-weight: 550;
    margin-bottom: 20px;
}
.nomine .buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.sponsorsPartenaires{
    text-align: center;
}
.sponsorsPartenaires h1{
    font-size: 35px ;
    font-weight: 550;
    margin-bottom: 20px;
}
.sponsorsPartenaires .description{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 16px;
}
.sponsorsPartenaires .gridLogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    gap: 20px;
}
.sponsorsPartenaires .gridLogos img{
    
    border-radius: 6px;
    box-shadow: 0.5px 0px 3px rgba(0,0,0,0.2);
    /* min-width: 300px; */
    width: 25%;
    box-shadow: 0.5px 0px 3px;
    transition: 0.2s ease-in-out;
}
.sponsorsPartenaires .gridLogos img:hover{
    scale: 1.05;
}


.footer{
    background-color: #D9D9D9;
    padding: 70px 100px;
}
.footer h3{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer .grids{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    align-items: start;
}
.footer .grids img{
    width: 250px;
}
.footer .grids .infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.footer .grids .follow{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #AB8742;
    font-weight: 500;
}
.footer .grids .infos div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .grids .infoContact p{
    width: 60%;
}
.footer .grids .infos img{
    width: 25px;
}
.footer .grids .iconsReseaux{
    display: flex;
    gap: 20px;
}
.footer .grids .iconsReseaux img{
    width: 35px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.footer .grids .iconsReseaux img:hover{
    scale: 0.92;
}


/* PAGE CATEGORIE */

#contenu-pageCategorie h1{
    width: 90%;
    margin: auto;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
#contenu-pageCategorie .gridImagesCategories{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#contenu-pageCategorie .gridImagesCategories img{
    width: 300px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
#contenu-pageCategorie .gridImagesCategories img:hover{
    scale: 0.92
}

/* LE REDIMENTIONNEMENT */

@media (width <= 1100px){
    .header .contenu .leftSection .text #bienvenue{
        font-size: 33px;
    }
    .header .contenu .leftSection .description{
        font-size: 16px;
    }
    button{
        padding: 12px 24px;
        font-size: 14px;
    }
    .footer .grids .logo{
        display: none;
    }
}

@media (width <= 900px) {

    .navbar{
        padding: 10px 80px;
    }
    .header, .apropos, .categorie, .nomine, .sponsorsPartenaires, .footer,#contenu-pageCategorie{
        padding: 110px 80px;
    }
    .header .rightSection{
        display: none;
    }
    .header .contenu .leftSection{
        width: 100%;
    }
    .apropos div p{
        width: 100%;
    }
    .apropos div img{
        display: none;
    }
}
@media (width <=700px) {
    .navbar{
        padding: 10px 60px;
    }
    .header, .apropos, .categorie, .nomine, .sponsorsPartenaires, .footer,#contenu-pageCategorie{
        padding: 110px 60px;
    }  
    .sponsorsPartenaires .description,.categorie .description,#contenu-pageCategorie h1{
        width: 100%;
    }  
}
@media (width <=500px) {
    .navbar{
        padding: 10px 40px;
    }
    .header, .apropos, .categorie, .nomine, .sponsorsPartenaires,#contenu-pageCategorie{
        padding: 110px 40px;
    }
    .footer{
        padding: 60px 40px;
    }
    .header .contenu .leftSection .text #bienvenue{
        font-size: 30px;
    }
    
    .header .contenu .leftSection .description{
        margin-top: 14px;
    }    
    .categorie h1, .nomine h1, .apropos h1, .sponsorsPartenaires h1{
        font-size: 30px;
    }
    #contenu-pageCategorie h1{
        font-size: 25px;
        padding-bottom: 10px;
    }
}

@media (width <=450px) {
    .navbar{
        padding: 10px 30px;
    }
    .header, .apropos, .categorie, .nomine, .sponsorsPartenaires,#contenu-pageCategorie{
        padding: 85px 25px;
    }
    .footer{
        padding: 60px 25px;
    }
    .navbar .logo img{
        width: 60px;
    }
     
}
@media (width <=860px) {

    .navbar ul{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 15px;
        flex-direction: column;
        padding: 50px;
        display: none;
    }
    .navbar ul li{
        padding: 10px 0;
    }
    .navbar ul li:hover{
        background-color: #D9D9D9;
    }
    
}


@media (width >860px) {
    .navbar .menu{
        display: none;
    }
}




