/* PAGE PARTENAIRES */

.sectionPartenaires {
    padding: 120px 100px;
    text-align: center;
}

.sectionPartenaires h1 {
    font-size: 35px;
    font-weight: 550;
    line-height: 1.35;
    margin-bottom: 14px;
}

.sectionPartenaires .description {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 17px;
    color: #444;
}

.sectionPartenaires .logoPreview {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.sectionPartenaires .emptyLogo {
    width: 200px;
    height: 120px;
    background-color: #e5e5e5;
    border-radius: 6px;
    box-shadow: 0.5px 0px 3px rgba(0,0,0,0.2);
}

.sectionPartenaires .btnBecome {
    margin-top: 20px;
}


/* RESPONSIVE */

@media (max-width: 1100px) {

    .sectionPartenaires {
        padding: 60px 70px;
    } 
}
@media (max-width: 700px) {
    .sectionPartenaires {
        padding: 80px 25px;
    }

    .sectionPartenaires {
        padding: 100px 40px;
    }

    .sectionPartenaires .description {
        width: 100%;
    }

    .sectionPartenaires .logoPreview {
        flex-wrap: wrap;
    }

    .sectionPartenaires .emptyLogo {
        width: 45%;
        height: 100px;
    }
}
@media (max-width: 450px) {
    .sectionPartenaires {
        padding: 85px 25px;
    }
    .sectionPartenaires .emptyLogo {
        width: 100%;
    }
}