/* PAGE PROGRAMME */


.programme{
    padding: 120px 100px;
    /* text-align: center; */
}
b{
    font-size: 15px;
    font-weight: 500;
}
.programmeHeader{
    text-align: center;
}
.programmeHeader h1{
    font-size: 35px;
    font-weight: 550;
    margin-top: 10px;
}
.programmeHeader p{
    margin-top: 20px;
    font-size: 17px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.programmeTheme{
    text-align: center;
}
.programmeTheme h2{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 550;
}
.programmeTheme p{
    font-size: 25px;
    color: #AB8742;
    font-weight: 600;
    margin-bottom: 60px;
}

.programmeDetails{
    
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.jour{
    background: #f5f5f5;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.1);
    width: 100%;
}
.jourBadge{
    background: #AB8742;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.jour h3{
    font-size: 26px;
    font-weight: 550;
    margin-bottom: 20px;
}
.jour h4{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 530;

}
.jour ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 15px;
    padding-left: 20px;
}
.programmeJourDeux{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.programmeInfos{
    padding: 60px 100px;
    background: #AB8742;
    color: white;
    text-align: center;
}
.programmeInfos h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.programmeInfos ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 17px;
}


/* RESPONSIVE */
@media (max-width: 700px){
    .programme{
        padding: 80px 25px;
    }
    .programmeHeader p{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .programme {
        padding: 85px 25px;
    }
    .programmeHeader h1{
        font-size: 24px;
    }
    .programmeHeader p{
        margin-top: 20px;
        font-size: 18px;
        width: 100%;
    }
    .programmeDetails{
        gap: 30px;
    }
    .jour{
        padding: 30px 20px;
    }
}


