/* SECTION CONTACT */
.contactPage {
    padding: 120px 100px;
    text-align: center;
}

.contactPage .smallTitle {
    font-family: "Pattaya", sans-serif;
    font-size: 28px;
    color: #AB8742;
    margin-bottom: 10px;
}

.contactPage .mainTitle {
    font-size: 28px;
    font-weight: 550;
    line-height: 1.35;
    margin-bottom: 14px;
}

.contactPage .subtitle {
    color: #555;
    margin-bottom: 50px;
    font-size: 18px;
}

.contactForm {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

.inputGroup {
    text-align: left;
    margin-bottom: 20px;
}

.inputGroup label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.inputGroup input,
.inputGroup textarea {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
    border-color: #AB8742;
}

textarea {
    height: 120px;
    resize: none;
}

.btnSubmit {
    width: 100%;
    padding: 14px;
    background-color: #AB8742;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.15s ease;
}

.btnSubmit:hover {
    background-color: #946d37;
    scale: 0.98;
}



/* ---- RESPONSIVE ---- */
@media (max-width: 1100px) {

    .contactPage {
        padding: 60px 70px;
    }

    
}
@media (max-width: 700px) {
    .contactPage {
        padding: 80px 25px;
    }
    .contactPage .mainTitle{
        font-size: 22px;
        margin-top: 20px;
    }
}
@media (max-width: 450px) {
    .contactPage {
        padding: 85px 25px;
    }
    .contactPage .mainTitle{
        font-size: 22px;
        margin-top: 20px;
    }
    .contactPage .subtitle{
        font-size: 16px;
    }
}
